/* BASE */



/*  CSS COMMUN HOME et INDEX */

.image-rio1{
    height: 400px;
    width: 90%;
    position: relative;
    position: center;
}

.se-connecter{
    position : absolute;
}

.prochaines-epreuves{
    color: black;
    margin-left: 30px;
}

.photo-natation{
    width: 100%;
}

.photo-escrime{
    width: 100%;
}

.photo-golf{
    width: 90%;
}

.more{
    padding-left: 300px;
    width: 95%;
}

.texte{
    border: solid black 2px;
}

.photo-filet{
    position: absolute;
    width: 100%;
}

.row-filet{
    padding-bottom: 700px;
}

iframe{
    position: absolute;
    height: 500px;
    width: 700px;
    padding-left: 200px;
    padding-top: 200px;
}

.videotxt{
    position : absolute;
}

.legende-video{
    padding-top: 200px;
    padding-left: 86px;
}

.legendevideo{
    color: white;
    background-color: rgba(34, 167, 240, 0.8);
    height: 300px;
}

.row-blue{
    background-color: #22A7F0;
    height: 190px;
}

.icones{
    padding-top: 30px;
}

.socialnetwork {
    width: 50%;
    border-radius: 250px;
}

.gplus {
    width: 36%;
    border-radius: 250px;
}


/* CSS Modal home */

.modal-header {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

/* Modal Body */

.modal-body {
    padding: 2px 16px;
    height: 60px;
    text-align: center;
}

/* Modal Footer */

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 20px;
    text-align: center;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* CSS INDEX UNE FOIS CONNECTE */

.nom-majuscule {
    text-transform: uppercase;
}


/* CSS EPREUVE */

.image-epreuve{
    width: 100%;
    height: 500px;
    position: relative;
    position: center;
}

.texte-prognostics-epreuve{
    padding-left: 10px;
}

form {
    border: solid black 2px;
}